$primary-color: #EBECF1;
$secundary-color: #ECF2FF;
$terciary-color: #393E46;

$color-gray: #F5F5F5;
$gray-dark: #212121;

// Font size
$font-small: 1rem;
$font-small-two: 1.2rem;
$font-medium: 2rem;
$font-medium-two: 2.4rem;
$font-big: 3rem;
$font-big-two: 3.6rem;


$font-thin-small: 100;
$font-thin-mediun: 200;
$font-thin-big: 300;